<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img width=50 height=50 src="{{ site.avatar }}" align="left" style="padding-right: 10px">
        <ul class="contact-list">
          <li>{{ site.title }}    <div>By <b>{{site.author}}</b></div</li>
        </ul>
        <div class="fb-follow" data-href="https://www.facebook.com/behnam.cybergig" data-layout="standard" data-size="large" data-show-faces="true"></div>
        <ul class="contact-list">
            <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
        </ul>

      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            <a href="{{site.url}}/sitemap.xml">sitemap</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>

    </div>
    <!-- SOCIAL PLUGINS BEGIN -->
    <div class="fb-share-button" data-href="{{ site.url}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" >Share</a></div>
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <g:plus action="share"></g:plus>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!-- SOCIAL PLUGINS END -->

  </div>

</footer>
