<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script src="/scripts/jquery-3.1.1.min.js"></script>

  <!-- FACEBOOK SDK BEGIN -->
  <div id="fb-root"></div>
  <script>

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=2010659789160679";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <!-- FACEBOOK SDK END -->


  <script>
    function goToLink(url){
        var initialURL = window.location.href;
        window.location.href = url;
        if(initialURL == url){
            window.location.reload();
        }
    }
  </script>
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

</head>
