<html>
<head>
<title>Behnam Azizi - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Behnam Azizi."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="/css/resume-style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
    {{content}}
</body>
</html>
